body {
  font-family: "Franklin Gothic", Arial, sans-serif;
  background-color: #fff; /* White background */
  color: #007bff; /* Blue text color */
}

.container {
  text-align: center;
}

h2 {
  color: #007bff; /* Blue heading color */
}

.form-group label {
  color: #007bff; /* Blue label color */
}

.btn-primary {
  background-color: #007bff; /* Blue button color */
  border-color: #007bff; /* Blue border color */
}
